{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <div class="flex-container">
        <div class="banner">
            <img height="800" width="800" src="{% static 'img/banner.png' %}" alt="">
        </div>
        <div class="jumbotron jumbotron-content">
            <h1 class="display-1">Tasktell</h1>
            <p class="lead">This is a simple todo app with a team scale functionality.</p>
            <hr class="my-4">
            <p>Collaborate, manage projects and communicate with all your team members.</p>
            <p class="lead">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary btn-lg" href="{% url 'create project' %}" role="button">Create new
                        project</a>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
                    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Sign up</a>
                {% endif %}
            </p>
        </div>
    </div>


{% endblock %}
