{% extends 'base.html' %}
{% load project_extras %}
{% load static %}
{% block  main_content %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <div class="container-fluid">
        {% for project in projects %}
            <div class="card">
                {% if project.logo %}
                    <img src="{{ project.logo }}" class="card-img-top" alt="">
                {% else %}
                    <img src="{% static 'img/icon.png' %}" class="card-img-top" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">Project Desecription:{{ project.description }}</p>
                    <form method="post" action="{% url 'public projects' %}">
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" value="{{ project.pk }}" name="apply-pk">
                        <button {% disable project.pk user.pk %} type="submit" class="btn btn-success">Apply
                        </button>
                        <a href="{% url 'project details' project.pk %}" class="btn btn-primary">Details</a>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}