{% extends 'base.html' %}
{% load static %}
{% block  main_content %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <div class="container-fluid">
        <div class="card">
            <img src="{% static 'icon.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Project Desecription:
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate fugit hic nobis
                    optio soluta veniam. Cumque ea ipsum rem? Aut dolorum eligendi eum eveniet maxime minima
                    reprehenderit suscipit voluptate.</p>
                <a href="#" class="btn btn-success">Appy</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div><div class="card">
            <img src="{% static 'icon.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Project Desecription:
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate fugit hic nobis
                    optio soluta veniam. Cumque ea ipsum rem? Aut dolorum eligendi eum eveniet maxime minima
                    reprehenderit suscipit voluptate.</p>
                <a href="#" class="btn btn-success">Appy</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div><div class="card">
            <img src="{% static 'icon.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Project Desecription:
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate fugit hic nobis
                    optio soluta veniam. Cumque ea ipsum rem? Aut dolorum eligendi eum eveniet maxime minima
                    reprehenderit suscipit voluptate.</p>
                <a href="#" class="btn btn-success">Appy</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div><div class="card">
            <img src="{% static 'icon.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Project Desecription:
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate fugit hic nobis
                    optio soluta veniam. Cumque ea ipsum rem? Aut dolorum eligendi eum eveniet maxime minima
                    reprehenderit suscipit voluptate.</p>
                <a href="#" class="btn btn-success">Appy</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div><div class="card">
            <img src="{% static 'icon.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Project Desecription:
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate fugit hic nobis
                    optio soluta veniam. Cumque ea ipsum rem? Aut dolorum eligendi eum eveniet maxime minima
                    reprehenderit suscipit voluptate.</p>
                <a href="#" class="btn btn-success">Appy</a>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
{% endblock %}