{% extends 'base.html' %}
{% block main_content %}

    <form method="post" enctype="multipart/form-data" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-control ping">
            {% if form.subject.errors %}
                <ol>
                    {% for error in form.subject.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
            {% endif %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary mt-2">Sign up</button>
        </div>
    </form>
{% endblock %}